.button {

}
.button--add {
    p {
        font-size: 13px;
        line-height: 32px;
        padding: 0 5px;
        background: #6dc91a;
        border-radius: 3px;
    }
}
.button--more {
    p {
        @include marginAuto();
        width: 250px;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        background: #d5d6d2;
        &:hover {
            background: #bbbdb9;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 12px 0;
            color: #72716d;
        }
    }
}
.c-button--cart {
    margin-top: 20px;
    &.on {
        .c-button--cart__text {
            color: white;
            background: $brandColor;
            a {
                color: white;
            }
        }
    }
    &.off {
        opacity: 0.5;
        pointer-events: none;
    }
    &__text {
        width: 300px;
        margin: 0 auto;
        color: $brandColor;
        line-height: 40px;
        text-align: center;
        border: 1px solid $brandColor;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: white;
            background: $brandColor;
            a {
                color: white;
            }
        }
        a {
            display: block;
            color: $brandColor;
            transition: 0.3s;
        }
    }
}
.c-button--delete {
    &__text {
        color: white;
        width: 70px;
        text-align: center;
        line-height: 24px;
        font-size: 11px;
        font-weight: normal;
        background: #333531;
        border-radius: 3px;
        cursor: pointer;
    }
}
.c-button--detail {
    &__text {
        width: 70px;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
        font-size: 11px;
        font-weight: normal;
        background: $brandColor;
        border-radius: 3px;
        &:hover {
            opacity: 0.9;
        }
        a {
            display: block;
            color: white !important;
            text-decoration: none !important;
        }
    }
}