.button {

}
.button--add {
    p {
        font-size: 13px;
        line-height: 32px;
        padding: 0 5px;
        background: #6dc91a;
        border-radius: 3px;
    }
}
.button--more {
    p {
        @include marginAuto();
        width: 250px;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        text-align: center;
        background: #d5d6d2;
        &:hover {
            background: #bbbdb9;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 12px 0;
            color: #72716d;
        }
    }
}
.c-button--cart {
    margin-top: 20px;
    &__text {
        width: 300px;
        margin: 0 auto;
        line-height: 40px;
        text-align: center;
        color: $brandColor;
        border: 1px solid $brandColor;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            color: white;
            background: $brandColor;
        }
    }
}