.c-nextButton {
    display: flex;
    &__list {
        width: calc(100% / 3);
        &__text {
            display: block;
            padding: 10px;
            width: 100px;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            color: white;
            background: #333531;
            transition: 0.3s;
            &:hover {
                opacity: 0.9;
            }
            .fa {
                transform: translateY(-1px);
            }
            .fa-arrow-left {
                padding-right: 3px;
            }
            .fa-arrow-right {
                padding-left: 3px;
            }
        }
        &:nth-of-type(1) {
            .c-nextButton__list__text {
                margin-left: auto;
            }
        }
        &:nth-of-type(2) {
            .c-nextButton__list__text {
                margin: 0 auto;
                color: #888;
                background: #dee0dc;
                font-weight: normal;
            }
        }
    }
}