.c-table {
    width: 100%;
    color: #555;
    border: 1px solid #555;
    border-collapse: separate;
    border-spacing: 0px 1px;
    &__thread,
    &__body {
        &__row {
            &:nth-of-type(2n-1) {
                background: #f7f7f7;
            }
        }
    }
    &__thread {
        &__row {
            &__head {
                font-size: 14px;
                border-left: 1px solid #555;
                background: white;
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    &__body {
        &__row {
            &__data {
                max-width: 200px;
                padding: 10px;
                text-align: center;
                border-top: 1px solid #555;
                border-left: 1px solid #555;
                &:first-child {
                    border-left: none;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}