<% include ../parts/_header %>
<ul class="l-admin__right__foot__content__list">
    <li ng-class="{'on': search === '?'}"><a href=""></a></li>
</ul>
<div class="l-admin__right__foot__content__body"></div>
<% include ../parts/_footer %>