<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/scenes/all">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text" ng-repeat="menu in data.category_list"><a href="/scenes/{{menu.name_en}}" ng-if="menu.type === 'scene'">{{menu.name_jp}}</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text">予算別</p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/search?max=4999">~ ¥4,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=5000&max=6999">¥5,000 ~ ¥6,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=7000&max=8999">¥7,000 ~ ¥8,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=9000">¥9,000 ~</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/characters/all">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text" ng-repeat="menu in data.category_list" ng-if="menu.type === 'character'"><a href="/characters/{{menu.name_en}}">{{menu.name_jp}}</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/ranking">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/original">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">{{cart.length}}</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="p-topHead">
    <div class="topHead__text">
        <p>そうだ、バルーンをプレゼントしよう</p>
        <p>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら</p>
    </div>
</div>
<h2 class="balloonHeading2">シーン別</h2>
<ul class="p-categoryList">
    <li>
        <a href="/scenes/marriage">
            <div class="categoryIcon"><img src="http://diftion.com/0142/app/webroot/files/uploads/fu60.jpg" alt=""></div>
            <div class="categoryWrapper">
                <p>結婚式 - Marriage</p>
                <p>突然の仕事や急な用事など、どうしても出席できない結婚式に。<br />二人の門出の日にキュートなバルーンとお祝いメッセージを贈りませんか？色彩豊かで様々なバリエーションタイプのバルーンは、<br />披露宴のディスプレイも華やかに飾り、雰囲気を一段と盛り上げてくれます。チャペルや披露宴会場にはブーケタイプ、ハウスウエディングなどには、フワフワ浮かぶバルーンなど、どのようなシチュエーションにも合わせやすく、高級感を演出し、華やかに式場を飾ってくれることでしょう。</p>
            </div>
        </a>
    </li>
    <li>
        <a href="/scenes/babygift">
            <div class="categoryIcon"><img src="http://livedoor.blogimg.jp/martinskitchen/imgs/8/2/822d6918.jpg" alt=""></div>
            <div class="categoryWrapper">
                <p>出産祝い - Baby Gifts</p>
                <p>生まれてきた赤ちゃんや、長い妊娠生活と命がけの出産で頑張った新米ママに、想い溢れるメッセージと可愛くカラフルなバルーンで、祝福の気持ちをお届け。フワフワと柔らかく揺れ、見ているだけで気持ちを和ませてくれるバルーンは、家族みんなを笑顔にさせてくれます。生まれたばかりの赤ちゃんは視力もあまりなく、喜ばれないかも？と思いがちですが、光や濃い色、鮮やかな色、動くものをぼんやりながらも目で捉えることができるそう。赤ちゃんも目で見て楽しめるものとして、出産祝いのお届けにぴったりです。</p>
            </div>
        </a>
    </li>
    <li>
        <a href="/scenes/birthday">
            <div class="categoryIcon"><img src="http://uds.gnst.jp/rest/img/s3a4fr5t0000/s_00m9.jpg?t=1401720172" alt=""></div>
            <div class="categoryWrapper">
                <p>誕生日 - Birth Day</p>
                <p>誕生日のメッセージを贈るのはもちろん、誕生日パーティーの飾り付けにも活躍するバルーンは、主役を一段と引き立ててくれます。「HAPPY BIRTHDAY」の文字が入ったものや、年齢の数字が入ったもの、バースデーケーキ型のものなど、華やかな装飾に一役買ってくれるバルーンは、見ているだけで心が踊ってしまいそう。<br />老若男女問わず、お洒落でカワイイフォルムのバルーンに囲まれれば、思わず笑顔もこぼれます。ぷかぷか浮いていて柔らかく、触ればポンッと弾むバルーンは、お子様も夢中になれるプレゼントに。</p>
            </div>
        </a>
    </li>
    <li>
        <a href="/characters/all">
            <div class="categoryIcon"><img src="http://img07.shop-pro.jp/PA01254/834/product/74883269.jpg?20140507162809" alt=""></div>
            <div class="categoryWrapper">
                <p>キャラクター - Character</p>
                <p>誕生日はもちろん、入学式、卒業式、発表会など、お祝いごとにも贈ることができるバルーン電報。お子様に人気のキャラクターものをお贈りすると大喜びしてくれること間違いなし！取り揃えのキャラクターは種類豊富！赤ちゃんや小さなお子様に人気のアンパンマンから、ディズニーキャラクターのミッキーやプーさん、男の子には機関車トーマスやジバニャン、女の子にはアナと雪の女王やデイズニープリンセスなど人気のキャラクターでお祝いをしてみては？</p>
            </div>
        </a>
    </li>
</ul>
<div class="button button--more">
    <p><a href="">もっと見る</a></p>
</div>
<h2 class="balloonHeading2">ランキング</h2>
<ul class="p-spaceList p-spaceList--ranking">
    <li ng-repeat="product in data.ranking_products | limitTo: 5">
        <a href="/products/{{product.id}}">
            <img src="{{product.image}}" alt="{{product.name}}">
            <div class="spaceWrapper">
                <p>{{product.name}}</p>
                <p>¥{{product.price}}</p>
                <p>{{product.description}}</p>
            </div>
        </a>
    </li>
</ul>
<div class="button button--more">
    <p><a href="">ランキングを見る</a></p>
</div>
<h2 class="balloonHeading2">特集一覧</h2>
<ul class="p-spaceList p-spaceList--summary">
    <li ng-repeat="product in data.feature_list">
        <a href="">
            <img src="{{product.image}}" alt="{{product.name}}">
            <div class="spaceWrapper">
                <p>{{product.name}}</p>
                <p>{{product.content}}</p>
            </div>
        </a>
    </li>
</ul>
<div class="button button--more">
    <p><a href="">もっと見る</a></p>
</div>
<h2 class="balloonHeading2">お客様の声</h2>
<ul class="p-customerVoice">
    <li>
        <div style="background-image: url(http://hobbee.jp/img/face.jpg)"></div>
        <div>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
    </li>
    <li>
        <div style="background-image: url(http://hobbee.jp/img/face.jpg)"></div>
        <div>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
    </li>
    <li>
        <div style="background-image: url(http://hobbee.jp/img/face.jpg)"></div>
        <div>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
    </li>
    <li>
        <div style="background-image: url(http://hobbee.jp/img/face.jpg)"></div>
        <div>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</div>
    </li>
</ul>
<div class="button button--more">
    <p><a href="">もっと見る</a></p>
</div>
<footer class="u-mt-40">
    <div class="footerContent">
        <section>
            <p>お探しの方へ</p>
            <ul>
                <li><a href="">ご利用の流れ</a></li>
                <li><a href="">目的から探す</a></li>
            </ul>
        </section>
        <section>
            <p>バルーンについて</p>
            <ul>
                <li><a href="">利用規約</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">特定商取引法に基づく表示</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">運営会社</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
    <p class="footerCopyright">Copyright (C) 2016 Emotional Balloon All Rights Reserved.</p>
</footer>
