<% include ../parts/_header %>
<div class="l-column-col2" ng-controller="cartShowController">
    <div class="l-column-col2__left">
        <ul class="breadList">
            <li><a href="">home</a></li>
            <li>カート</li>
        </ul>
        <ul class="p-cartList" ng-if="cartItem.length">
            <li class="p-cartList__list" ng-repeat="product in cartItem">
                <div class="p-cartList__list__image" style="background-image: url({{product.image[0]}})"></div>
                <p class="p-cartList__list__text"><span>{{product.name}}</span><br />{{product.description | limitTo:100}}</p>
                <p class="p-cartList__list__text">¥{{product.price}}</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <p class="p-cartList__list__text">商品合計<span>（税込）</span> ¥{{sumPrice}}</p>
            </li>
        </ul>
    </div>
    <div class="l-column-col2__right" ng-if="cartItem.length">
        <div class="c-button--cart">
            <p class="c-button--cart__text"><a href="/carts/register">レジへ進む</a></p>
        </div>
    </div>
</div>
<% include ../parts/_footer %>