<div class="l-admin--login" ng-controller="loginController">
    <div class="l-admin__wrapper">
        <p class="l-admin__wrapper__heading">Welcome to Emotional Balloon Admin</p>
        <div class="l-admin__wrapper__form">
            <div class="l-admin__wrapper__form__block">
                <input type="text" class="l-admin__wrapper__form__block__input" placeholder="メールアドレス" ng-model="loginInfo.session.email" ng-keydown="handleKeydown($event)">
            </div>
            <div class="l-admin__wrapper__form__block">
                <input type="password" class="l-admin__wrapper__form__block__input" placeholder="パスワード" ng-model="loginInfo.session.password" ng-keydown="handleKeydown($event)">
            </div>
            <p class="l-admin__wrapper__form__button" ng-click="loginPost()">LOGIN</p>
        </div>
    </div>
</div>