<% include ../parts/_header %>
<section>
    <div class="l-column-col2">
        <div class="l-column-col2__left">
            <div class="p-registerForm">
                <p class="p-registerForm__heading">注文内容の確認</p>
                <ul class="p-registerForm__wrapper">
                    <li class="p-registerForm__wrapper__list">
                        <p class="p-registerForm__wrapper__list__text">お届け先</p>
                        <div class="p-registerForm__wrapper__list__content">和田 隼人 様<br />住所：〒3560058 埼玉県ふじみ野市大井中央1-10-9<br />電話番号：080-4717-5622<br /></div>
                    </li>
                    <li class="p-registerForm__wrapper__list">
                        <p class="p-registerForm__wrapper__list__text">メールアドレス</p>
                        <div class="p-registerForm__wrapper__list__content address">hatoya.web.design@gmail.com</div>
                    </li>
                    <li class="p-registerForm__wrapper__list">
                        <p class="p-registerForm__wrapper__list__text">商品</p>
                        <div class="p-registerForm__wrapper__list__content address">
                            <ul class="p-cartList--comfirm">
                                <li class="p-cartList__list">
                                    <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                                    <p class="p-cartList__list__text title">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                                    <p class="p-cartList__list__text">¥10,584</p>
                                    <p class="p-cartList__list__text">数量：1</p>
                                    <div class="c-button--delete">
                                        <p class="c-button--delete__text">変更する</p>
                                    </div>
                                </li>
                                <li class="p-cartList__list">
                                    <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                                    <p class="p-cartList__list__text title">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                                    <p class="p-cartList__list__text">¥10,584</p>
                                    <p class="p-cartList__list__text">数量：1</p>
                                    <div class="c-button--delete">
                                        <p class="c-button--delete__text">変更する</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="p-registerForm__wrapper__list">
                        <p class="p-registerForm__wrapper__list__text">お支払い方法</p>
                        <div class="p-registerForm__wrapper__list__content">代金引換</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="l-column-col2__right">
            <div class="c-button--cart">
                <p class="c-button--cart__text"><a href="/cart/thanks">注文を確定する</a></p>
            </div>
            <table class="p-registerResult">
                <tbody>
                    <tr class="p-registerResult__row">
                        <th>商品合計</th>
                        <td>¥6,480</td>
                    </tr>
                    <tr class="p-registerResult__row">
                        <th>送料</th>
                        <td>¥0</td>
                    </tr>
                    <tr class="p-registerResult__row">
                        <th>支払い手数料</th>
                        <td>¥0</td>
                    </tr>
                    <tr class="p-registerResult__row">
                        <th>合計</th>
                        <td>¥6,480</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<% include ../parts/_footer %>