<% include ../parts/_header %>
<div class="l-column-col2" ng-controller="cartShowController">
    <div class="l-column-col2__left">
        <ul class="breadList">
            <li><a href="">home</a></li>
            <li>カート</li>
        </ul>
        <ul class="p-cartList">
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <p class="p-cartList__list__text">商品合計<span>（税込）</span> ¥36,288</p>
            </li>
        </ul>
    </div>
    <div class="l-column-col2__right">
        <div class="c-button--cart">
            <p class="c-button--cart__text"><a href="/carts/register">レジへ進む</a></p>
        </div>
    </div>
</div>
<% include ../parts/_footer %>