<% include ../parts/_header %>
<div class="l-column-col1">
    <div class="p-thanksFont">
        <p class="p-thanksFont__heading">ARIGATO!</p>
        <p class="p-thanksFont__text">和田 隼人様<br />ご注文の受付が完了しました</p>
        <p class="p-thanksFont__text">この度はEmotion Balloonでのお買い物ありがとうございます。<br />ご注文情報をお送りしますので、下記内容にてご確認ください。<br />発送手続き完了後、お知らせメールを再度配信いたしますので、<br />発送完了までもうしばらくお待ちください。</p>
    </div>
</div>
<% include ../parts/_footer %>