<header id="js-header">
    <ul class="header__menu">
        <li><a href="/"><img src="./img/logo.png" alt="EmotionalBalloon"></a></li>
        <li>
            <a href="">シーン</a>
            <div class="header__menu__child">
                <p><a href="/product/scene">結婚式</a></p>
                <p><a href="/product/scene">出産祝い</a></p>
                <p><a href="/product/scene">誕生日</a></p>
            </div>
        </li>
        <li>
            <a href="">予算別</a>
            <div class="header__menu__child">
                <p><a href="">¥10,000</a></p>
                <p><a href="">¥20,000</a></p>
                <p><a href="">¥30,000</a></p>
            </div>
        </li>
        <li>
            <a href="">キャラクター</a>
            <div class="header__menu__child">
                <p><a href="">キャラクター１</a></p>
                <p><a href="">キャラクター２</a></p>
                <p><a href="">キャラクター３</a></p>
            </div>
        </li>
        <li>
            <a href="">ランキング</a>
        </li>
        <li>
            <a href="">フロー</a>
        </li>
        <li><input type="text" placeholder="結婚式 Balloon"><input type="submit" value="検索"></li>
    </ul>
</header>
<section>
    <div class="p-companyBlock">
        <h2 class="companyBlock__heading2">プライバシーポリシー</h2>
        <h3 class="companyBlock__heading3">● 法令の遵守</h3>
        <ul class="companyBlock__list">
            <li>当店は、個人情報の保護に関する法律、条例、および国が定める指針等を遵守します。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 安全管理措置</h3>
        <ul class="companyBlock__list">
            <li>当店は、その取り扱う個人データの漏えい、滅失又はき損の防止その他の個人データの安全管理のために必要かつ適切な措置を講じます。</li>
            <li>当店は、当店の従業者に個人データを取り扱わせるに当たって、当該個人データの安全管理が図られるよう、当該従業者に対する必要かつ適切な監督を行ないます。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 正確性の確保</h3>
        <ul class="companyBlock__list">
            <li>当店は、利用目的の達成に必要な範囲内において、個人データを正確かつ最新の内容に保つよう努めます。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 個人情報の適正な取り扱い </h3>
        <ul class="companyBlock__list">
            <li>当店は、個人情報を取り扱うに当たって、その利用目的をできる限り特定します。</li>
            <li>当店は、あらかじめ本人の同意を得ないで、特定された利用目的の達成に必要な範囲を超えて、個人情報を取り扱いません。</li>
            <li>当店は、偽りその他不正の手段により個人情報を取得しません。</li>
            <li>当店は、個人情報を取得した場合、あらかじめその利用目的を公表している場合を除き、速やかに、その利用目的を、本人に通知し、又は公表します。</li>
            <li>当店は、本人との間で契約を締結することに伴って契約書その他の書面（電子的方式、磁気的方式その他人の知覚によっては認識することができない方式で作られる記録を含む。）に記載された当該本人の個人情報を取得する場合その他本人から直接書面に記載された当該本人の個人情報を取得する場合、あらかじめ、本人に対し、その利用目的を明示します。</li>
            <li>当店は、利用目的を変更する場合、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲を超えた変更を行いません。</li>
            <li>当店は、利用目的を変更した場合、変更された利用目的について、本人に通知し、又は公表します。</li>
            <li>当店は、あらかじめ本人の同意を得ないで、個人データを第三者に提供しません。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 個人情報の委託</h3>
        <ul class="companyBlock__list">
            <li>当店は、特定された利用目的を達するために、利用目的の範囲内で個人データを委託します。</li>
            <li>当店は、個人データの取扱いの全部又は一部を委託する場合、その取扱いを委託された個人データの安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行ないます。</li>
            <li>不正な目的をもって商品を注文するような方にサービスのご利用をお断りするために、不正な目的での利用がなされたと判断したお取引に関するお客様の氏名、住所、ご注文いただいた商品の種類や数量、ご請求金額などの情報を第三者機関（民間債権回収会社・信用機関・被害対策機関等）に提供します。</li>
            <li>クレジットカード情報の取り扱いについて お客様がクレジットカード（以下カード）での決済をご希望された場合、 ご注文いただいた商品の種類や数量、ご請求金額、お客様の氏名、電話番号、e-mailアドレスなどの情報を当社の契約カード会社に対して提供し、表示させます。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 開示等の要請</h3>
        <ul class="companyBlock__list">
            <li>当店は、本人から、当該保有個人データの開示、訂正、追加、削除、利用目的の通知（以下「開示等」という。）を求められた場合、遅滞なく、当該保有個人データの開示等を行います。</li>
            <li>当店は、本人から、当該保有個人データの利用の停止、消去、第三者への提供の停止（以下「利用停止等」という。）を求められた場合であって、その求めに理由があることが判明したときは、遅滞なく当該保有個人データの利用停止等を行います。</li>
            <li>当店は、本人から求められた措置の全部又は一部について、その措置をとらない場合、又はその措置と異なる措置をとる場合は、本人に対し、その旨を通知すると共に、その理由を説明するよう努めます。</li>
        </ul>
        <h3 class="companyBlock__heading3">● 苦情・相談</h3>
        <ul class="companyBlock__list">
            <li>当店は、個人情報の取扱いに関する苦情の適切かつ迅速な処理に努めます。</li>
            <li>当店は、前項の目的を達成するために必要な体制の整備に努めます。</li>
        </ul>
        <h3 class="companyBlock__heading3">●「個人情報の保護に関する法律」に基づく公表事項</h3>
        <ul class="companyBlock__list">
            <li>個人情報取扱事業者の氏名又は名称<br />名称： 有限会社WAC-UP<br />代表： 松原由紀</li>
            <li>個人データの利用目的<br />受注管理、商品配送、入金管理、商品・サービス等のご案内</li>
            <li>お問い合わせ窓口<br />TEL： 03-3937-7791</li>
        </ul>
    </div>
</section>
<footer class="u-mt-40">
    <div class="footerContent">
        <section>
            <p>お探しの方へ</p>
            <ul>
                <li><a href="">ご利用の流れ</a></li>
                <li><a href="">目的から探す</a></li>
            </ul>
        </section>
        <section>
            <p>バルーンについて</p>
            <ul>
                <li><a href="">利用規約</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">特定商取引法に基づく表示</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">運営会社</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
    <p class="footerCopyright">Copyright (C) 2015 Emotional Balloon All Rights Reserved.</p>
</footer>