<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child">
                <a href="/admin/products/new">
                    <p><i class="fa fa-pencil-square-o"></i></p>
                    <p>NEW POST</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}">
                <a href="/admin">
                    <p><i class="fa fa-home"></i></p>
                    <p>HOME</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}">
                <a href="/admin/products?filter=all">
                    <p><i class="fa fa-gift"></i></p>
                    <p>PRODUCT</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}">
                <a href="/admin/orders/?filter=all">
                    <p><i class="fa fa-shopping-cart"></i></p>
                    <p>ORDER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}">
                <a href="/admin/categories?filter=all">
                    <p><i class="fa fa-tag"></i></p>
                    <p>CATEGORY</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/mails">
                    <p><i class="fa fa-envelope"></i></p>
                    <p>MAIL</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/users">
                    <p><i class="fa fa-user"></i></p>
                    <p>USER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/settings">
                    <p><i class="fa fa-cog"></i></p>
                    <p>SETTING</p>
                </a>
            </li>
            <li class="l-admin__left__list__child">
                <a href="/admin/logout">
                    <p><i class="fa fa-sign-out"></i></p>
                    <p>LOGOUT</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
<div class="l-admin__right__foot__content__full" ng-controller="orderEditController">
    <div class="p-registerForm">
        <p class="p-registerForm__block__heading">購入者情報</p>
        <ul class="p-registerForm__block__wrapper">
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">お名前</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="姓" ng-model="orderContent.buyer_info.name[0].family_name"><input type="text" placeholder="名" ng-model="orderContent.buyer_info.name[0].first_name"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">郵便番号</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="ハイフンなし数字7桁" ng-model="orderContent.buyer_info.postal_code"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">都道府県</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="都道府県名" ng-model="orderContent.buyer_info.prefectures"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">住所</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="市区町村、番地など" ng-model="orderContent.buyer_info.address"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">電話番号</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="08012345678" ng-model="orderContent.buyer_info.phone"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">メールアドレス</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="sample@sample.com" ng-model="orderContent.buyer_info.mail"></div>
            </li>
        </ul>
        <p class="p-registerForm__block__heading u-mt-20">お届け先情報</p>
        <ul class="p-registerForm__block__wrapper">
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">お名前</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="姓" ng-model="orderContent.destination_info.name[0].family_name"><input type="text" placeholder="名" ng-model="orderContent.destination_info.name[0].first_name"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">郵便番号</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="ハイフンなし数字7桁" ng-model="orderContent.destination_info.postal_code"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">都道府県</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="都道府県名" ng-model="orderContent.destination_info.prefectures"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">住所</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="市区町村、番地など" ng-model="orderContent.destination_info.address"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">電話番号</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="080" ng-model="orderContent.destination_info.phone"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list">
                <p class="p-registerForm__block__wrapper__list__text">届け希望日時</p>
                <div class="p-registerForm__block__wrapper__list__content address">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput" placeholder="Fri Jan 01 2016 00:00:00 GMT+0900 (JST)"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list">
                <p class="p-registerForm__block__wrapper__list__text">届け先分類</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="destination" id="destination1" placeholder=""><label for="destination1">貸し会場のイベントへ直送</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="destination" id="destination2" placeholder=""><label for="destination2">住居・勤務先でのイベントで使用</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="destination" id="destination3" placeholder=""><label for="destination3">自分で受取り後、持参・手渡し</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="destination" id="destination4" placeholder=""><label for="destination4">お受取人の住居・勤務先へ</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="destination" id="destination5" placeholder=""><label for="destination5">その他</label></p>
                </div>
            </li>
        </ul>
        <p class="p-registerForm__block__heading u-mt-20">注文情報</p>
        <ul class="p-registerForm__block__wrapper">
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">商品</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <ul class="p-cartList--comfirm" style="width: 40%" ng-repeat="product in orderContent.product_info">
                        <li class="p-cartList__list">
                            <div class="p-cartList__list__image" style="background-image: url({{product.images[0]}})"></div>
                            <p class="p-cartList__list__text title">{{product.name}}</p>
                            <p class="p-cartList__list__text">¥{{product.price}}</p>
                            <p class="p-cartList__list__text">数量：{{product.count}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">支払い方法</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="payment" id="payment1" value="代金引換" ng-model="orderContent.payment_info.method"><label for="payment1">代金引換</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="payment" id="payment2" value="銀行" ng-model="orderContent.payment_info.method"><label for="payment2">銀行</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="payment" id="payment3" value="クレジットカード" ng-model="orderContent.payment_info.method"><label for="payment3">クレジットカード</label></p>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">状態</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status1" value="未入金" ng-model="orderContent.status"><label for="status1">未入金</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status2" value="未発送" ng-model="orderContent.status"><label for="status2">未発送</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status3" value="完了" ng-model="orderContent.status"><label for="status3">完了</label></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="c-button--cart">
        <p class="c-button--cart__text" ng-click="editProduct()">変更</p>
    </div>
</div>
            </div>
        </div>
    </div>
</div>