<div class="l-admin">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-pencil-square-o"></i>NEW POST</a>
            </li>
            <li class="l-admin__left__list__child"><a href="/#/admin"><i class="fa fa-home"></i>HOME</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-gift"></i>PRODUCT</a></li>
            <li class="l-admin__left__list__child"><a href="/#/admin/order/all"><i class="fa fa-shopping-cart"></i>ORDER</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-sign-out"></i>LOGOUT</a></li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
                <ul class="l-admin__right__foot__content__list">
                    <li ng-class="{'on': path === '/admin/order/all'}"><a href="/admin/order/all">ALL</a></li>
                    <li ng-class="{'on': path === '/admin/order/unconfirmed'}"><a href="/admin/order/unconfirmed">Unconfirmed</a></li>
                    <li ng-class="{'on': path === '/admin/order/process'}"><a href="/admin/order/process">Process</a></li>
                    <li ng-class="{'on': path === '/admin/order/complete'}"><a href="/admin/order/complete">Complete</a></li>
                </ul>
                <div class="l-admin__right__foot__content__body">
                    <table class="c-table">
                        <thead class="c-table__thread">
                            <tr class="c-table__row">
                                <th class="c-table__head small">id</th>
                                <th class="c-table__head normal">status</th>
                                <th class="c-table__head large">user</th>
                                <th class="c-table__head large">date</th>
                                <th class="c-table__head">option</th>
                            </tr>
                        </thead>
                        <tbody class="c-table__body">
                            <tr class="c-table__row" ng-repeat="order in data.order_list">
                                <td class="c-table__data"><a href="">{{order.id}}</a></td>
                                <td class="c-table__data">{{order.status}}</td>
                                <td class="c-table__data"><a href="">{{order.user.name}}</a></td>
                                <td class="c-table__data">{{order.date}}</td>
                                <td class="c-table__data">{{order.option}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>