<% include ../parts/_header %>
<div class="l-admin__right__foot__content__full" ng-controller="productCreateController">
    <div class="p-registerForm">
        <p class="p-registerForm__block__heading">商品登録</p>
        <ul class="p-registerForm__block__wrapper">
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">商品名</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="商品名" ng-model="product_data.name"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">値段</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="5000" ng-model="product_data.price"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">在庫数</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="10" ng-model="product_data.stock"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">サイズ</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="120" ng-model="product_data.size"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">説明文</p>
                <div class="p-registerForm__block__wrapper__list__content"><textarea name="" placeholder="説明文" ng-model="product_data.description"></textarea></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">画像</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="file"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">カテゴリー</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <select ng-model="product_data.category" ng-options="category.id as category.name_jp group by category.type for (i, category) in formOptions.category"></select>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">状態</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status1" ng-model="product_data.status" value="1"><label for="status1">公開</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status2" ng-model="product_data.status" value="0"><label for="status2">非公開</label></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="c-button--cart">
        <p class="c-button--cart__text" ng-click="editProduct()">変更</p>
    </div>
</div>
<% include ../parts/_footer %>