.p-categoryList {
    @include marginAuto();
    width: 1000px;
    a {
        @include inlineBlock();
        position: relative;
        display: block;
        margin-bottom: 20px;
        transition: 0.5s;
        &:hover {
            opacity: 0.9;
        }
        &::after {
            content: "read more...";
            position: absolute;
            right: 0;
            bottom: 0;
            color: #EE2882;
            letter-spacing: normal;
        }
    }
    .categoryIcon {
        width: 490px;
        height: 235px;
        margin-right: 18px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .categoryWrapper {
        vertical-align: top;
        width: 490px;
        p {
            font-size: 16px;
            line-height: 1.2;
            &:first-child {
                font-size: 28px;
                margin-bottom: 16px;
            }
        }
    }
}