.p-registerForm {
    &__heading {
        font-size: 18px;
        padding-left: 6px;
        border-left: 4px solid $brandColor;
    }
    &__wrapper {
        &__list {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 20px;
            &.required {
                &::after {
                    content: "必須";
                    position: absolute;
                    top: calc(50% - 10px);
                    left: 115px;
                    width: 34px;
                    line-height: 20px;
                    font-size: 12px;
                    text-align: center;
                    color: white;
                    background: $brandColor;
                }
            }
            &__text {
                width: 160px;
                padding-left: 10px;
                font-size: 14px;
                font-weight: bold;
            }
            &__content {
                width: calc(100% - 160px);
                input[type="text"] {
                    width: calc(50% - 5px);
                    line-height: 33px;
                    font-size: 12px;
                    margin-right: 5px;
                    border: 1px solid #c8c8c8;;
                }
                textarea {
                    width: 100%;
                    height: 80px;
                    font-size: 12px;
                    border: 1px solid #c8c8c8;
                }
                &.postal {
                    input[type="text"] {
                        width: calc(31.4% + 5px);
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                &.address {
                    input[type="text"] {
                        width: 100%;
                    }
                }
                &__radio {
                    input[type="radio"] {
                        margin-right: 5px;
                        cursor: pointer;
                    }
                    label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.dropdown {
    &:focus {
        display: block;
    }
    &-menu {
        // display: none;
        position: absolute;
        max-width: 300px;
        background: white;
        border: 1px solid $brandColor;
        box-shadow: 2px 2px 5px rgba(black, 0.1);
        z-index: 10;
    }
    table {
        width: 300px;
        th,
        td {
            text-align: center;
        }
        td {
            cursor: pointer;
        }
    }
    .day-view {
        td {
            &:hover {
                color: white;
                background: $brandColor;
            }
            &.past,
            &.future {
                color: rgba(black, 0.3);
                &:hover {
                    color: rgba(black, 0.3);
                    background: white;
                    cursor: default;
                }
            }
            span {
                display: block;
            }
        }
    }
    .hour-view,
    .minute-view {
        thead {
            .left {
                display: none;
            }
        }
        td {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            span {
                &:hover {
                    color: white;
                    background: $brandColor;
                }
            }
        }
    }
}