.p-spaceList {
    @include inlineBlock();
    @include marginAuto();
    width: 1000px;
    li {
        position: relative;
        width: 235px;
        height: 235px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: 0.5s;
        overflow: hidden;
        &:nth-of-type(4n) {
            margin-right: 0;
        }
        &:hover {
            opacity: 0.9;
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    p {
        position: relative;
        color: white;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60%;
            background: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.6));
        }
    }
    .spaceWrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        font-size: 13px;
        line-height: 1;
        font-weight: bold;
        z-index: 10;
        text-shadow: 0 0 5px rgba(black, 0.5);
        p {
            &:first-child {
                font-size: 18px;
                margin-bottom: 5px;
            }
            &:nth-of-type(3) {
                font-size: 11px;
                line-height: 1.2;
                margin-top: 5px;
            }
        }
    }
}
.p-spaceList--ranking {
    @include clearfix();
    li {
        display: block;
        vertical-align: top;
        margin-right: 0;
        float: left;
        &:first-child {
            width: 490px;
            height: 490px;
            margin-right: 20px;
        }
        &:nth-of-type(2n) {
            margin-right: 20px;
        }
    }
}
.p-spaceList--summary {
    li {
        width: 490px;
        margin-right: 0;
        &:nth-of-type(2n-1) {
            margin-right: 20px;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}