<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-pencil-square-o"></i>NEW POST</a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}"><a href="/admin"><i class="fa fa-home"></i>HOME</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}"><a href="/admin/products?filter=all"><i class="fa fa-gift"></i>PRODUCT</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}"><a href="/admin/orders/?filter=all"><i class="fa fa-shopping-cart"></i>ORDER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}"><a href="/admin/categories"><i class="fa fa-tag"></i>CATEGORY</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/customers'}"><a href="/admin/customers"><i class="fa fa-user"></i>CUSTOMER</a></li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}"><a href="/admin/settings"><i class="fa fa-cog"></i>SETTING</a></li>
            <li class="l-admin__left__list__child"><a href=""><i class="fa fa-sign-out"></i>LOGOUT</a></li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
            <div class="l-admin__right__foot__content__body">
    <table class="c-table">
        <thead class="c-table__thread">
            <tr class="c-table__row">
                <th class="c-table__head small"></th>
                <th class="c-table__head normal">新規受付</th>
                <th class="c-table__head large">配達済み</th>
                <th class="c-table__head large">在庫切れ商品</th>
                <th class="c-table__head"></th>
            </tr>
        </thead>
        <tbody class="c-table__body">
            <tr class="c-table__row">
                <td class="c-table__data"></td>
                <td class="c-table__data"><%= @new %></td>
                <td class="c-table__data"><%= @complete %></td>
                <td class="c-table__data"><%= @no_stocks %></td>
                <td class="c-table__data"></td>
            </tr>
        </tbody>
    </table>
    </div>
            </div>
        </div>
    </div>
</div>