<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child">
                <a href="/admin/products/new">
                    <p><i class="fa fa-pencil-square-o"></i></p>
                    <p>NEW POST</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}">
                <a href="/admin">
                    <p><i class="fa fa-home"></i></p>
                    <p>HOME</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}">
                <a href="/admin/products?filter=all">
                    <p><i class="fa fa-gift"></i></p>
                    <p>PRODUCT</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}">
                <a href="/admin/orders/?filter=all">
                    <p><i class="fa fa-shopping-cart"></i></p>
                    <p>ORDER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}">
                <a href="/admin/categories?filter=all">
                    <p><i class="fa fa-tag"></i></p>
                    <p>CATEGORY</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/customers'}">
                <a href="/admin/customers">
                    <p><i class="fa fa-user"></i></p>
                    <p>CUSTOMER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/settings/users">
                    <p><i class="fa fa-cog"></i></p>
                    <p>SETTING</p>
                </a>
            </li>
            <li class="l-admin__left__list__child">
                <a href="/admin/logout">
                    <p><i class="fa fa-sign-out"></i></p>
                    <p>LOGOUT</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
<div class="l-admin__right__foot__content__full" ng-controller="productCreateController">
    <div class="p-registerForm">
        <p class="p-registerForm__heading">商品登録</p>
        <ul class="p-registerForm__wrapper">
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">お名前</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="姓"><input type="text" placeholder="名"></div>
            </li>
            <li class="p-registerForm__wrapper__list">
                <p class="p-registerForm__wrapper__list__text">連名</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="姓"><input type="text" placeholder="名"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">郵便番号</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="ハイフンなし数字7桁"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">都道府県</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="都道府県名"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">住所１</p>
                <div class="p-registerForm__wrapper__list__content address"><input type="text" placeholder="市区町村、番地など"></div>
            </li>
            <li class="p-registerForm__wrapper__list">
                <p class="p-registerForm__wrapper__list__text">住所２</p>
                <div class="p-registerForm__wrapper__list__content address"><input type="text" placeholder="建物名など（任意）"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">電話番号</p>
                <div class="p-registerForm__wrapper__list__content postal"><input type="text" placeholder="080"><input type="text" placeholder="1234"><input type="text" placeholder="5678"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">メールアドレス</p>
                <div class="p-registerForm__wrapper__list__content address"><input type="text" placeholder="sample@sample.com"></div>
            </li>
        </ul>
        <p class="p-registerForm__heading u-mt-40">お届け先</p>
        <ul class="p-registerForm__wrapper">
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">お名前</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="姓"><input type="text" placeholder="名"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">郵便番号</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="ハイフンなし数字7桁"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">都道府県</p>
                <div class="p-registerForm__wrapper__list__content"><input type="text" placeholder="都道府県名"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">住所１</p>
                <div class="p-registerForm__wrapper__list__content address"><input type="text" placeholder="市区町村、番地など"></div>
            </li>
            <li class="p-registerForm__wrapper__list">
                <p class="p-registerForm__wrapper__list__text">住所２</p>
                <div class="p-registerForm__wrapper__list__content address"><input type="text" placeholder="建物名など（任意）"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">電話番号</p>
                <div class="p-registerForm__wrapper__list__content postal"><input type="text" placeholder="080"><input type="text" placeholder="1234"><input type="text" placeholder="5678"></div>
            </li>
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">届け希望日時</p>
                <div class="p-registerForm__wrapper__list__content address">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput" placeholder="Fri Jan 01 2016 00:00:00 GMT+0900 (JST)"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="p-registerForm__wrapper__list">
                <p class="p-registerForm__wrapper__list__text">届け先分類</p>
                <div class="p-registerForm__wrapper__list__content">
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="destination" id="destination1" placeholder=""><label for="destination1">貸し会場のイベントへ直送</label></p>
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="destination" id="destination2" placeholder=""><label for="destination2">住居・勤務先でのイベントで使用</label></p>
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="destination" id="destination3" placeholder=""><label for="destination3">自分で受取り後、持参・手渡し</label></p>
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="destination" id="destination4" placeholder=""><label for="destination4">お受取人の住居・勤務先へ</label></p>
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="destination" id="destination5" placeholder=""><label for="destination5">その他</label></p>
                </div>
            </li>
        </ul>
        <p class="p-registerForm__heading u-mt-40">お支払い方法</p>
        <ul class="p-registerForm__wrapper">
            <li class="p-registerForm__wrapper__list required">
                <p class="p-registerForm__wrapper__list__text">お支払い方法</p>
                <div class="p-registerForm__wrapper__list__content">
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="credit" id="credit1" placeholder=""><label for="credit1">クレジットカード</label></p>
                    <p class="p-registerForm__wrapper__list__content__radio"><input type="radio" name="credit" id="credit2" placeholder=""><label for="credit2">代金引換</label></p>
                </div>
            </li>
        </ul>
        <p class="p-registerForm__heading u-mt-40">その他</p>
        <ul class="p-registerForm__wrapper">
            <li class="p-registerForm__wrapper__list">
                <p class="p-registerForm__wrapper__list__text">備考</p>
                <div class="p-registerForm__wrapper__list__content"><textarea name=""></textarea></div>
            </li>
        </ul>
    </div>
    <div class="c-button--cart">
        <p class="c-button--cart__text" ng-click="editProduct()">変更</p>
    </div>
</div>
            </div>
        </div>
    </div>
</div>