<% include ../parts/_header %>
<ul class="l-admin__right__foot__content__list">
    <li ng-class="{'on': false}"><a href="/admin/mails?template=cod">代金引換</a></li>
    <li ng-class="{'on': false}"><a href="/admin/mails?template=bank">銀行振込</a></li>
    <li ng-class="{'on': false}"><a href="/admin/mails?template=card">カード払い</a></li>
    <li ng-class="{'on': false}"><a href="/admin/mails?template=contact">お問い合わせ</a></li>
</ul>
<div class="l-admin__right__foot__content__body" ng-controller="mailEditController">
    <p class="p-registerForm__block__heading u-mb-20">件名</p>
    <div class="p-registerForm__block__wrapper__list__content address template u-mb-30"><input type="text" placeholder="件名" ng-model="formModel.subject"></div>
    <p class="p-registerForm__block__heading u-mb-20">内容</p>
    <div class="p-registerForm__block__wrapper__list__content address template u-mb-30"><textarea placeholder="内容" ng-model="formModel.content"></textarea></div>
    <div class="c-button--cart">
        <p class="c-button--cart__text" ng-click="sendTemplate()">変更</p>
    </div>
</div>
<% include ../parts/_footer %>