</section>
<footer class="u-mt-40">
    <div class="footerContent">
        <section>
            <p>お探しの方へ</p>
            <ul>
                <li><a href="">ご利用の流れ</a></li>
                <li><a href="">目的から探す</a></li>
            </ul>
        </section>
        <section>
            <p>バルーンについて</p>
            <ul>
                <li><a href="">利用規約</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">特定商取引法に基づく表示</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">運営会社</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
    <p class="footerCopyright">Copyright (C) 2015 Emotional Balloon All Rights Reserved.</p>
</footer>