<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products?scene=all">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?scene=marriage">結婚式</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=babygift">出産祝い</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=birthday">誕生日</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=open">開店祝い</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products">予算別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?max=4999">~ ¥4,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=5000&max=6999">¥5,000 ~ ¥6,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=7000&max=8999">¥7,000 ~ ¥8,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=9000">¥9,000 ~</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products?caracter=all">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?character=disney">ディズニー</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=ghibli">ジブリ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=sanrio">サンリオ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=anpanman">アンパンマン</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=onepiece">ワンピース</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=yokai">妖怪ウォッチ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=other">その他</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products/ranking">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/original">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">2</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>
<section ng-controller="balloonController" style="height: inherit;">