<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products/scene">結婚式</a></li>
                        <li class="header__menu__list__child__text"><a href="/products/scene">出産祝い</a></li>
                        <li class="header__menu__list__child__text"><a href="/products/scene">誕生日</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">予算別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="">¥5,000</a></li>
                        <li class="header__menu__list__child__text"><a href="">¥6,000</a></li>
                        <li class="header__menu__list__child__text"><a href="">¥7,000</a></li>
                        <li class="header__menu__list__child__text"><a href="">¥8,000</a></li>
                        <li class="header__menu__list__child__text"><a href="">¥9,000</a></li>
                        <li class="header__menu__list__child__text"><a href="">¥10,000</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="">ディズニー</a></li>
                        <li class="header__menu__list__child__text"><a href="">サンリオ</a></li>
                        <li class="header__menu__list__child__text"><a href="">アンパンマン</a></li>
                        <li class="header__menu__list__child__text"><a href="">ワンピース</a></li>
                        <li class="header__menu__list__child__text"><a href="">妖怪ウォッチ</a></li>
                        <li class="header__menu__list__child__text"><a href="">その他</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">2</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>
<section>