<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/scenes/all">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text" ng-repeat="menu in data.scene_list"><a href="/scenes/{{menu.name_en}}">{{menu.name_jp}}</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text">予算別</p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/search?max=4999">~ ¥4,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=5000&max=6999">¥5,000 ~ ¥6,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=7000&max=8999">¥7,000 ~ ¥8,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/search?min=9000">¥9,000 ~</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/characters/all">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text" ng-repeat="menu in data.character_list"><a href="/characters/{{menu.name_en}}">{{menu.name_jp}}</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/ranking">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/original">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">2</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>