<% include ../parts/_header %>
<div class="l-admin__right__foot__content__full" ng-controller="productCreateController">
    <div class="p-registerForm">
        <p class="p-registerForm__block__heading">商品登録</p>
        <ul class="p-registerForm__block__wrapper">
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">商品名</p>
                <div class="p-registerForm__block__wrapper__list__content address"><input type="text" placeholder="商品名" ng-model="product_data.name"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">値段</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="5000" ng-model="product_data.price"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">在庫数</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="10" ng-model="product_data.stock"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">サイズ</p>
                <div class="p-registerForm__block__wrapper__list__content"><input type="text" placeholder="120" ng-model="product_data.size"></div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">説明文</p>
                <div class="p-registerForm__block__wrapper__list__content"><textarea name="" placeholder="説明文" ng-model="product_data.description"></textarea></div>
            </li>
            <li class="p-registerForm__block__wrapper__list">
                <p class="p-registerForm__block__wrapper__list__text">シーン</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio" ng-repeat="scene in data.scene_list" ng-model="data.detail_product.scenes"><input type="checkbox" name="scene" id="{{scene.name_en}}" ng-click="checkScene(scene.name_en)"><label for="{{scene.name_en}}">{{scene.name_jp}}</label></p>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list">
                <p class="p-registerForm__block__wrapper__list__text">キャラクター</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio" ng-repeat="character in data.character_list"><input type="checkbox" name="character" id="{{character.name_en}}" placeholder=""><label for="{{character.name_en}}">{{character.name_jp}}</label></p>
                </div>
            </li>
            <li class="p-registerForm__block__wrapper__list required">
                <p class="p-registerForm__block__wrapper__list__text">状態</p>
                <div class="p-registerForm__block__wrapper__list__content">
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status1" ng-model="product_data.status" value="1"><label for="status1">公開</label></p>
                    <p class="p-registerForm__block__wrapper__list__content__radio"><input type="radio" name="status" id="status2" ng-model="product_data.status" value="0"><label for="status2">非公開</label></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="c-button--cart">
        <p class="c-button--cart__text" ng-click="editProduct()">変更</p>
    </div>
</div>
<% include ../parts/_footer %>