<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products?scene=all">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?scene=marriage">結婚式</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=babygift">出産祝い</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=birthday">誕生日</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=open">開店祝い</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products">予算別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?max=4999">~ ¥4,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=5000&max=6999">¥5,000 ~ ¥6,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=7000&max=8999">¥7,000 ~ ¥8,999</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=9000">¥9,000 ~</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products?caracter=all">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?character=disney">ディズニー</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=ghibli">ジブリ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=sanrio">サンリオ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=anpanman">アンパンマン</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=onepiece">ワンピース</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=yokai">妖怪ウォッチ</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?character=other">その他</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/products/ranking">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/original">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">2</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="l-column-col2" ng-controller="cartShowController">
    <div class="l-column-col2__left">
        <ul class="breadList">
            <li><a href="">home</a></li>
            <li>カート</li>
        </ul>
        <ul class="p-cartList">
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <div class="p-cartList__list__image" style="background-image: url(http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg)"></div>
                <p class="p-cartList__list__text">BASESTATION<br />Gramicci<br />【Gramicci】グラミチナローパンツロング<br />カラー：ベージュ<br />サイズ：LARGE</p>
                <p class="p-cartList__list__text">¥10,584</p>
                <p class="p-cartList__list__text">数量：1</p>
                <div class="c-button--delete">
                    <p class="c-button--delete__text">削除する</p>
                </div>
            </li>
            <li class="p-cartList__list">
                <p class="p-cartList__list__text">商品合計<span>（税込）</span> ¥36,288</p>
            </li>
        </ul>
    </div>
    <div class="l-column-col2__right">
        <div class="c-button--cart">
            <p class="c-button--cart__text"><a href="/carts/register">レジへ進む</a></p>
        </div>
                <%= form_tag(action: :purchase, method: :post) do %>
<script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
<% end %>

    </div>
</div>
<footer class="u-mt-40">
    <div class="footerContent">
        <section>
            <p>お探しの方へ</p>
            <ul>
                <li><a href="">ご利用の流れ</a></li>
                <li><a href="">目的から探す</a></li>
            </ul>
        </section>
        <section>
            <p>バルーンについて</p>
            <ul>
                <li><a href="">利用規約</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">特定商取引法に基づく表示</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">運営会社</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
    <p class="footerCopyright">Copyright (C) 2016 Emotional Balloon All Rights Reserved.</p>
</footer>
