<% include ../parts/_header %>
<section>
    <ul class="breadList u-mt-60">
        <li><a href="">home</a></li>
        <li>カート</li>
    </ul>
    <div class="l-column-col2">
        <div class="l-column-col2__left"></div>
        <div class="l-column-col2__right"></div>
    </div>
</section>
<% include ../parts/_footer %>