<% include ../parts/_header %>
<section>
    <div class="l-column-col2">
        <div class="l-column-col2__left">
            <ul class="breadList">
                <li><a href="">home</a></li>
                <li><a href="">バルーン</a></li>
                <li><a href="">東京</a></li>
                <li>バルーン</li>
            </ul>
            <div class="p-photoGallery">
                <div class="p-photoGallery__zoom"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_500.jpg" alt=""></div>
                <ul class="p-photoGallery__list">
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172B_16_D_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_01_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_02_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_03_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_04_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_05_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_06_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_07_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_08_35.jpg" alt=""></li>
                    <li class="p-photoGallery__list__child"><img src="http://img5.zozo.jp/goodsimages/172/10329172/10329172_b_09_35.jpg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="l-column-col2__right">
            <div class="p-productDetail">
                <p class="p-productDetail__option">この商品は送料無料でお届けします</p>
                <p class="p-productDetail__title">モールニット</p>
                <p class="p-productDetail__price">¥24,300</p>
                <div class="p-productDetail__description">
                    <div class="p-productDetail__description__title">商品説明</div>
                    <div class="p-productDetail__description__text">マイクロポリエステルのモール糸を使用しトラッドなストライプ柄に編み立てた、リラックスジャケット。柔らかく、肌触りが気持ちいいです。<br /><br />※ご注文いただいた予約商品のお届け時期の確認は、注文履歴ページより行えます。<br />※予約商品は、その他の予約商品や通常商品との同時決済はできません。</div>
                </div>
                <div class="p-productDetail__detail">
                    <p class="productDetail__detail__title">商品詳細</p>
                    <table class="p-productDetail__detail__table">
                        <tbody>
                            <tr class="p-productDetail__detail__table__row">
                                <th>即日配送</th>
                                <td>即日配送不可</td>
                            </tr>
                            <tr class="p-productDetail__detail__table__row">
                                <th>送料</th>
                                <td>合計3,000円以上のお買い上げで送料無料</td>
                            </tr>
                            <tr class="p-productDetail__detail__table__row">
                                <th>ギフト</th>
                                <td>ラッピング不可</td>
                            </tr>
                            <tr class="p-productDetail__detail__table__row">
                                <th>お問い合わせ番号</th>
                                <td>10329172（ZOZO）<br />B1561RKJ408（店舗）</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="c-button--cart">
                <p class="c-button--cart__text"><a href="/carts/show">カートに追加する</a></p>
            </div>
        </div>
    </div>
</section>
<% include ../parts/_footer %>