<header>
    <div class="header">
        <div class="header__wrapper">
            <div class="header__logo"><a href="/"><img src="/img/logo.png" alt="EmotionalBalloon"></a></div>
            <ul class="header__menu">
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">シーン別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?scene=marriage">結婚式</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=babygift">出産祝い</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?scene=birthday">誕生日</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">予算別</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="/products?max=5000">¥5,000</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=5000&max=6000">¥6,000</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=6000&max=7000">¥7,000</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=8000&max=9000">¥8,000</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=8000&max=9000">¥9,000</a></li>
                        <li class="header__menu__list__child__text"><a href="/products?min=9000&max=10000">¥10,000</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">キャラクター</a></p>
                    <ul class="header__menu__list__child">
                        <li class="header__menu__list__child__text"><a href="">ディズニー</a></li>
                        <li class="header__menu__list__child__text"><a href="">サンリオ</a></li>
                        <li class="header__menu__list__child__text"><a href="">アンパンマン</a></li>
                        <li class="header__menu__list__child__text"><a href="">ワンピース</a></li>
                        <li class="header__menu__list__child__text"><a href="">妖怪ウォッチ</a></li>
                        <li class="header__menu__list__child__text"><a href="">その他</a></li>
                    </ul>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">ランキング</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="">オリジナル</a></p>
                </li>
                <li class="header__menu__list">
                    <p class="header__menu__list__text"><a href="/carts/show"><i class="fa fa-shopping-cart"></i><span class="header__menu__list__text__badge">2</span></a></p>
                </li>
            </ul>
        </div>
    </div>
</header>
<section>
<div class="l-column-col1">
    <div class="p-thanksFont">
        <p class="p-thanksFont__heading">ARIGATO!</p>
        <p class="p-thanksFont__text">和田 隼人様<br />ご注文の受付が完了しました</p>
        <p class="p-thanksFont__text">この度はEmotion Balloonでのお買い物ありがとうございます。<br />ご注文情報をお送りしますので、下記内容にてご確認ください。<br />発送手続き完了後、お知らせメールを再度配信いたしますので、<br />発送完了までもうしばらくお待ちください。</p>
    </div>
</div>
</section>
<footer class="u-mt-40">
    <div class="footerContent">
        <section>
            <p>お探しの方へ</p>
            <ul>
                <li><a href="">ご利用の流れ</a></li>
                <li><a href="">目的から探す</a></li>
            </ul>
        </section>
        <section>
            <p>バルーンについて</p>
            <ul>
                <li><a href="">利用規約</a></li>
                <li><a href="">プライバシーポリシー</a></li>
                <li><a href="">特定商取引法に基づく表示</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">運営会社</a></li>
                <li><a href="">お問い合わせ</a></li>
            </ul>
        </section>
    </div>
    <p class="footerCopyright">Copyright (C) 2015 Emotional Balloon All Rights Reserved.</p>
</footer>