.l-admin {
    display: flex;
    width: 100%;
    height: 100%;
    &__left {
        width: 80px;
        height: 100%;
        text-align: center;
        background: #0a9b94;
        &__list {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 55px;
                left: 10px;
                width: 60px;
                height: 2px;
                background: white;
            }
            &__child {
                position: relative;
                margin: 20px 0;
                &.on {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 15px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-right: 10px solid #555;
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(6), {
                    &::after {
                        border-right: 10px solid white;
                    }
                }
                a {
                    display: block;
                    font-size: 11px;
                    color: white;
                    transition: 0.3s;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                i {
                    font-size: 30px;
                }
            }
        }
    }
    &__right {
        width: calc(100% - 80px);
        height: 100%;
        &__head {
            position: relative;
            display: flex;
            align-items: center;
            height: 56px;
            padding: 0 10px;
            background: #efede0;
            box-shadow: 0 5px 10px rgba(black, 0.1);
            &__logo {
                a {
                    color: #aaa;
                }
                img {
                    width: 240px;
                }
            }
        }
        &__foot {
            // height: calc(100% - 36px);
            height: 100%;
            background: white;
            &__content {
                display: flex;
                width: 100%;
                height: 100%;
                &__list {
                    width: 200px;
                    height: 100%;
                    background: #555;
                    li {
                        position: relative;
                        border-bottom: 1px solid #444;
                        &.on {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 15px;
                                right: 0;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-right: 10px solid white;
                            }
                        }
                    }
                    a {
                        display: block;
                        font-size: 12px;
                        line-height: 3.5;
                        padding: 0 10px;
                        color: rgba(white, 0.9);
                    }
                }
                &__body {
                    width: calc(100% - 200px);
                    padding: 10px;
                    overflow: scroll;
                }
                &__full {
                    width: 100%;
                    padding: 10px;
                    overflow: scroll;
                }
            }
        }
    }
}