.l-column-col2 {
    display: flex;
    align-items: flex-start;
    width: 1000px;
    margin: 50px auto 0 auto;
    padding-top: 20px;
    &__left {
        width: 600px;
    }
    &__right {
        width: 400px;
    }
}