.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0 5px 10px rgba(black, 0.1);
    transition: 0.5s;
    z-index: 100;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1000px;
        height: 50px;
        margin: 0 auto;
    }
    &__logo {
        img {
            width: 220px;
        }
    }
    &__menu {
        display: flex;
        &__list {
            width: 110px;
            font-size: 15px;
            &:last-child {
                width: 70px;
                font-size: 22px;
            }
            &:hover {
                .header__menu__list__child {
                    display: block;
                }
            }
            a {
                &:hover {
                    color: $brandColor;
                }
            }
            &__text {
                position: relative;
                text-align: center;
                line-height: 50px;
                a {
                    display: block;
                }
                &__badge {
                    position: absolute;
                    top: 6px;
                    right: 10px;
                    width: 19px;
                    line-height: 17px;
                    font-size: 11px;
                    color: white;
                    background: $brandColor;
                    border: 1px solid white;
                    border-radius: 50%;
                }
            }
            &__child {
                display: none;
                position: absolute;
                width: 110px;
                background: rgba(white, 0.9);
                &__text {
                    line-height: 30px;
                    font-size: 13px;
                    border: 1px solid white;
                    border-top: none;
                    a {
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }
    }
}