<div class="l-admin" ng-controller="adminController">
    <div class="l-admin__left">
        <ul class="l-admin__left__list">
            <li class="l-admin__left__list__child">
                <a href="/admin/products/new">
                    <p><i class="fa fa-pencil-square-o"></i></p>
                    <p>NEW POST</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin'}">
                <a href="/admin">
                    <p><i class="fa fa-home"></i></p>
                    <p>HOME</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/products'}">
                <a href="/admin/products?filter=all">
                    <p><i class="fa fa-gift"></i></p>
                    <p>PRODUCT</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/orders'}">
                <a href="/admin/orders/?filter=all">
                    <p><i class="fa fa-shopping-cart"></i></p>
                    <p>ORDER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/categories'}">
                <a href="/admin/categories?filter=all">
                    <p><i class="fa fa-tag"></i></p>
                    <p>CATEGORY</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/mails">
                    <p><i class="fa fa-envelope"></i></p>
                    <p>MAIL</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/users">
                    <p><i class="fa fa-user"></i></p>
                    <p>USER</p>
                </a>
            </li>
            <li class="l-admin__left__list__child" ng-class="{'on': path === '/admin/settings'}">
                <a href="/admin/settings">
                    <p><i class="fa fa-cog"></i></p>
                    <p>SETTING</p>
                </a>
            </li>
            <li class="l-admin__left__list__child">
                <a href="/admin/logout">
                    <p><i class="fa fa-sign-out"></i></p>
                    <p>LOGOUT</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="l-admin__right">
        <div class="l-admin__right__foot">
            <div class="l-admin__right__foot__content">
<ul class="l-admin__right__foot__content__list">
    <li ng-class="{'on': search === '?filter=all'}"><a href="/admin/products?filter=all">すべて</a></li>
    <li ng-class="{'on': search === '?filter=public'}"><a href="/admin/products?filter=public">公開</a></li>
    <li ng-class="{'on': search === '?filter=secret'}"><a href="/admin/products?filter=secret">非公開</a></li>
    <li ng-class="{'on': search === '?filter=none'}"><a href="/admin/products?filter=none">在庫なし</a></li>
</ul>
<div class="l-admin__right__foot__content__body">
    <div class="c-buttonList">
        <p class="c-buttonList__list"><a href="/admin/products.csv{{search}}">CSV出力</a></p>
        <p class="c-buttonList__list">CSVインポート</p>
        <p class="c-buttonList__list"><a href="/admin/products/new">新規登録</a></p>
    </div>
    <table class="c-table">
        <thread class="c-table__thread">
            <tr class="c-table__thread__row">
                <th class="c-table__thread__row__head">ID</th>
                <th class="c-table__thread__row__head">サムネイル画像</th>
                <th class="c-table__thread__row__head">名称</th>
                <th class="c-table__thread__row__head">在庫数</th>
                <th class="c-table__thread__row__head">購入回数</th>
                <th class="c-table__thread__row__head">登録日</th>
                <th class="c-table__thread__row__head">詳細</th>
            </tr>
        </thread>
        <tbody class="c-table__body">
            <tr class="c-table__body__row" ng-repeat="order in data.search_products.product_list">
                <td class="c-table__body__row__data">{{order.id}}</td>
                <td class="c-table__body__row__data"><img src="{{order.image}}" alt=""></td>
                <td class="c-table__body__row__data">{{order.name}}</td>
                <td class="c-table__body__row__data">{{order.stock}}</td>
                <td class="c-table__body__row__data">{{order.count}}</td>
                <td class="c-table__body__row__data">{{order.created_at}}</td>
                <td class="c-table__body__row__data">
                    <div class="c-button--detail">
                        <p class="c-button--detail__text"><a href="/admin/products/{{order.id}}/edit">詳細を見る</a></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="c-nextButton u-mt-10">
        <li class="c-nextButton__list">
            <a href="/admin/products/?filter=all&page={{data.search_products.current_page - 1}}" ng-if="data.search_products.current_page > 1"><p class="c-nextButton__list__button"><i class="fa fa-arrow-left"></i> 前のページ</p></a>
        </li>
        <li class="c-nextButton__list ng-binding">{{data.search_products.current_page}} / {{data.search_products.max_page}}</li>
        <li class="c-nextButton__list">
            <a href="/admin/products/?filter=all&page={{data.search_products.current_page + 1}}" ng-if="data.search_products.current_page !== data.search_products.max_page"><p class="c-nextButton__list__button">次のページ <i class="fa fa-arrow-right"></i></p></a>
        </li>
    </ul>
</div>
            </div>
        </div>
    </div>
</div>