<!DOCTYPE html>
<html ng-app="balloonApp">
<head>
  <title>EmotionalBalloon</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <script src="/js/application.js"></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="./img/favicon.ico">
  <meta name="robots" content="noindex,nofollow">
  <%= yield :json %>
</head>
<body>
  <%= yield %>
</body>
</html>