<!DOCTYPE html>
<html>
<head>
  <title>EmotionalBalloon</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/build.js"></script>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="./img/favicon.ico">
</head>
<body>
  <%= yield %>
</body>
</html>